.table-column {
    width: 15%;
}

.table-email-column {
    width: 25%;
}

.table-header {
    line-height: 2rem;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid;
}

.table-row {
    line-height: 2rem;
    font-size: 1rem;
}

.table-width {
    width: 80%;
}

nb-icon {
    cursor: pointer;
}

button {
    text-transform: none !important;
}

:host ::ng-deep a {
    text-decoration: none !important;
}