<nb-layout>
  <nb-layout-header fixed>
    <h3>{{ 'general.title' | translate }}</h3>
    <a class="ml-4 link-primary" routerLink="/employees">{{ 'employees.employees' | translate }}</a>
    <a class="ml-4 link-primary" routerLink="/departments">{{ 'departments.departments' | translate }}</a>
    <nb-select class="ml-auto" [(ngModel)]="selectedTheme" (ngModelChange)="updateTheme()">
      <nb-option *ngFor="let themeOption of themeOptions" [value]="themeOption.value">{{ themeOption.label }}</nb-option>
    </nb-select>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer center fixed>
    Made by Debjit Ganguli
  </nb-layout-footer>
</nb-layout>
